<div
    class="flex items-center justify-center w-screen flex-col"
    style="height: 84%;"
>
    <h1 class="text-5xl font-bold text-red-700">500</h1>
    <h3 class="text-gray-700 font-medium text-2xl">Internal Server Error</h3>

</div>