<div
    class="flex flex-col items-center justify-center vertical-center"
    style="height: 84%;"
>
    <h1 class="text-5xl text-gray-700 font-black mb-10">Upload File</h1>

    <form
        method="post"
        class="w-full max-w-sm flex flex-col mt-7"
        enctype="multipart/form-data"
    >
        {{#if error_message}}
            <div class="mb-5 alert alert-error">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="stroke-current shrink-0 h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                ><path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                    /></svg>
                <span>{{error_message}}</span>
            </div>
        {{/if}}
        <input
            type="password"
            name="password"
            placeholder="Password (Optional)"
            class="input input-bordered w-full"
        />
        <input
            type="file"
            name="file"
            class="file-input file-input-bordered file-input-neutral mt-4 w-full font-medium text-gray-700"
        />
        <button
            type="submit"
            class="btn btn-error w-full text-white mt-10"
        >Upload</button>
    </form>
</div>