<div
    class="flex flex-col items-center justify-center vertical-center"
    style="height: 84%;"
>
    <h1 class="text-5xl text-gray-700 font-black mb-10">Upload File</h1>
    <form method="post" class="w-full max-w-sm flex flex-col mt-7">
        <input
            type="password"
            name="password"
            placeholder="Password (Optional)"
            class="input input-bordered w-full"
        />
        <input
            type="file"
            name="file"
            class="file-input file-input-bordered file-input-neutral mt-4 w-full font-medium text-gray-700"
        />
        <button
            type="submit"
            class="btn btn-error w-full text-white mt-10"
        >Upload</button>
    </form>
</div>