<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/media/main.css" />
        <title>Fileshare - {{title}}</title>
    </head>
    <body>
        <header class="w-full">
            <nav class="flex justify-around w-full p-4">
                <h2 class="font-bold text-2xl text-orange-600">FileShare</h2>
                <ul class="hidden flex gap-6 items-center lg:flex">
                    <li>
                        <a
                            class="text-sm font-medium text-gray-700 hover:text-orange-600"
                            href="/"
                        >Home</a>
                    </li>
                    <li>
                        <a
                            class="text-sm font-medium text-gray-700 hover:text-orange-600"
                            href="/upload-file"
                        >Upload</a>
                    </li>
                    <li class="w-72">
                        <div class="relative">
                            <form action="/search" method="get" class="m-0 p-0">
                                <input
                                    type="text"
                                    class="input w-full max-w-sm bg-gray-100 rounded-full pb-1 px-4 text-gray-700 text-sm font-medium"
                                    placeholder="Search files"
                                    name="file"
                                />
                                <button
                                    type="submit"
                                    class="absolute top-4 right-4 p-0 m-0 bg-transparent"
                                ><img
                                        src="/media/icons/search.png"
                                        alt="Search"
                                        class="w-4"
                                    /></button>
                            </form>
                        </div>
                    </li>

                </ul>
                <div class="dropdown dropdown-end lg:hidden">
                    <label
                        tabindex="0"
                        class="btn btn-sm btn-outline btn-neutral m-1"
                    >Menu</label>
                    <ul
                        tabindex="0"
                        class="dropdown-content z-[1] menu p-1 shadow bg-base-100 rounded-box w-64 mt-4"
                    >
                        <li>
                            <a
                                class="text-sm font-medium text-gray-700 hover:text-orange-600"
                                href="/"
                            >Home</a>
                        </li>
                        <li class="my-2">
                            <a
                                class="text-sm font-medium text-gray-700 hover:text-orange-600"
                                href="/upload-file"
                            >Upload</a>
                        </li>
                        <li class="w-full">
                            <div class="relative p-2 m-0">
                                <form
                                    action="/search"
                                    method="get"
                                    class="m-0 p-0 w-full"
                                >
                                    <input
                                        type="text"
                                        class="input w-56 bg-gray-100 rounded-full pb-1 px-4 text-gray-700 text-sm font-medium"
                                        placeholder="Search files"
                                        name="file"
                                    />
                                    <button
                                        type="submit"
                                        class="absolute top-6 right-7 p-0 m-0 bg-transparent"
                                    ><img
                                            src="/media/icons/search.png"
                                            alt="Search"
                                            class="w-4"
                                        /></button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
    </body>
</html>